# Database
DB_DSN=linkfrog:password@tcp(db:3306)/linkfrog?parseTime=true
MYSQL_DATABASE=linkfrog
MYSQL_USER=linkfrog
MYSQL_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=changeme

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:3000/api/auth/google/callback
AUTH_REDIRECT_URL=http://localhost:3000

# JWT
JWT_SECRET=random-secret
